.About-Container{
    height: 92vh;
    width: 100.7%;
    background: #000;
}
.About-Inner{
    height: 90vh;
    text-align: center;
}
.About-Image{
    height: 80vh;
    margin-left: 35%;
    width: 60%;
}
.About-heading{
    margin-top: 15vh;
    font-size: 4rem;
    line-height: 5vh;
    text-align: left;
}
.About-para{
    margin-top: 5vh;
    font-size: 2rem;
    line-height: 4vh;
    font-weight: 100;
    text-align: left;
}
.resume-button{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 15%;
    border: 2px solid rgb(162, 0, 255);
    box-shadow: inset 0px 0px 10px 0px rgb(162, 0, 255);
    position: relative;
    top: 45px;
    right: 130px;
} 