.Certificate-Container{
    background: #000;
    height: 92.1vh;
    width: 100%;
    display: flex;
}
.Outer-Certificate{
    height: 50%;
    width: 49%;
}
.Certicate-Inner-Container{
    height: 40vh;
    width: 95%;
    margin: 30px;
    /* border: 2px solid white; */
}
.Certificate-img{
    width: 100%;
    height: 80%;
}