.Certificate-Container{
    background: #000;
    height: 92.1vh;
    width: 100%;
    display: flex;
    /* gap: 20px; */
    padding-top: 12vh;
}
.Certicate-Inner-Container{
    height: 70vh;
    margin: 30px;
    width: 405px;
    border: 2px solid white;
}
.Certificate-img{
    width: 20rem;
    /* height: 0%; */
}