.Contact-Container{
    background: #000;
    width: 100%;
    height: 92vh;
}
.Head-Contact{
    text-align: center;
    padding-top: 4rem;
    width: 100%;
}
.Head-Contact h1,h4{
    font-size: 50px;
}
.Gmail-btn{
    border-radius: 25%;
    border: 2px solid rgb(162,2,255);
    box-shadow: inset 0 0 4px 2px rgb(162, 2, 255); ;
    padding: 5px;
    background: #000;
}
.About-Links{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.About-Links:hover{
    color: rgb(162,2,255);
}
.form{
    margin-top: 5vh;
    padding-top: 15px;
    margin-left: 150px;
    gap: 20px;
    height:42vh;
    width: 55%;
    display: flex;
    border: 1px solid white;
    text-align: center;
}
.Input-tags{
    height: 50px;
    color: black;
    width: 45%;
    padding: 5px;
    border-radius: 3%;
    border: 1px solid black;
    margin: 5px;
}
.text-area{
    width: 90%;
    height: 75px;
}
.Submit-btn{
    padding: 5px;
    background: #000;
    border: 2px solid rgb(162,2,255);
    box-shadow: inset 0 0 4px 2px rgb(162, 2, 255);
}
.Submit-btn:active{
    background: rgb(162,2,255);
    color: black;
}