.HomeConent-container {
  height: 92vh;
  background: #000;
  width: 100%;
  display: flex;
}
.Inner-Home-Container {
  height: 94vh;
  color: white;
}
.Left-Inner {
  height: 45vh;
  /* border: 1px solid white; */
}
.typewriter-greet{
  height: 5px;
}
.Greeting {
  text-align: center;
  padding-top: 30vh;
  padding-left: 50%;
  font-size: 4rem;
  line-height: 4.5vh;
  font-family: serif;
}
.Links-container {
  margin-left: 55px;
  height: 80%;
  width: 10%;
}
.Social-Links {
  font-size: 35px;
  transition: 1s;
}
.Social-Links:hover {
  scale: calc(1.2);
  transition: 1s;
}
.Intro {
  padding-top: 30vh;
  font-size: 4rem;
  line-height: 4.5vh;
  padding-right: 30%;
  font-family: serif;
}
.Main-Img-Container {
  height: 85vh;
  /* border: 1px solid white; */
}
.Img-Main {
  height: 81vh;
}

.Right-Inner {
  height: 45vh;
  /* border: 1px solid white; */
}
.resume-btn {
  position: relative;
  width: 190px;
  border-radius: 15px;
  font-size: 25px;
  padding: 5px;
  border: 2px solid rgba(166, 0, 255, 0.7);
  box-shadow: inset 0 0 8px rgba(166, 0, 255, 0.8);
  top: 70%;
  left: 40%;
  cursor: pointer;
}
