.nav-container{
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    line-height: 60px;
    margin: 0px;
    box-sizing: border-box;
}
.icon{
    font-size: 28px;
    margin-bottom: 4px;
    background: orange;
    border-radius: 100%;
}
.logo{
    color: white;
    text-align: left;
    text-decoration: none;
    font-family: cursive;
    font-size: 35px;

}
.link-container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.link-tag{
    color: white;
    margin: 5px;
    text-decoration: none;
    font-family: serif;
    font-size: 30px;
}
.link-tag:hover{
    color: rgb(162, 0, 255);  
}
.contact{
    color: orange;
    font-family: serif;
    font-size: 20px;
}