.Project-container {
  height: 50vh;
  background: black;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.viewport {
  width: 100%;
  overflow: hidden;
}

.Inner-Container {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.Project-Card {
  min-width: 35%;
  height: 300px;
  border: 1px solid white;
  
  
}
